{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<label for="mercure-message-input">Artiste:</label>
<input type="text" id="artist-name"/>
<input onclick="search()" type="button" id="artist-btn" value="Send"/>

<section id="texte"></section>

<script>
    var section = document.querySelector('section');
    
    function search(){
        document.getElementById("texte").innerHTML = "";
        var text = document.getElementById('artist-name').value;
        var requestURL = 'http://localhost/deezer_api/public/index.php/search/' + text;
        var request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
        var artiste = request.response;
        showTable();
        showArtist(artiste);
    }
    }


    function showTable() {
        var table = document.createElement("table");
        var thead = document.createElement("thead");
        var tbody = document.createElement('tbody');
        var tr = document.createElement("tr");
        var img = document.createElement("th");
        var id = document.createElement("th");
        var name = document.createElement("th");
        var nbfan = document.createElement("th");
        var add = document.createElement("th");

        table.setAttribute('class','table');
        tbody.setAttribute('id','value');
        img.setAttribute('scope','col');
        id.setAttribute('scope','col');
        name.setAttribute('scope','col');
        nbfan.setAttribute('scope','col');
        add.setAttribute('scope','col');
        img.textContent = "Image";
        id.textContent = "ID";
        name.textContent = "Name";
        nbfan.textContent = "Nb fan";
        add.textContent = "add";

        table.appendChild(thead);
        table.appendChild(tbody);
        thead.appendChild(tr);
        tr.appendChild(img);
        tr.appendChild(id);
        tr.appendChild(name);
        tr.appendChild(nbfan);
        tr.appendChild(add);

        section.appendChild(table);
    }

    function showArtist(jsonObj) {
        var obj = jsonObj['data'];

        for (var i = 0; i < obj.length; i++) {
            var url = '{{ path("addArtist", {"id": 'region_id'}) }}'; 
            url = url.replace("region_id", obj[i].id); 
            var tbody = document.querySelector('tbody');
            var tr = document.createElement('tr');
            var id = document.createElement('th');
            var name = document.createElement('th');
            var nbfan = document.createElement('th');
            var thimg = document.createElement('th'); 
            var img = document.createElement('img');
            var thadd = document.createElement('th');
            var add = document.createElement('a');


            thimg.setAttribute('scope','col');
            id.setAttribute('scope','col');
            name.setAttribute('scope','col');
            nbfan.setAttribute('scope','col');
            id.textContent = obj[i].id;
            name.textContent = obj[i].name;
            nbfan.textContent = obj[i].nb_fan;
            add.textContent = "Add";
            img.setAttribute("src", obj[i].picture_small );
            add.setAttribute("href",url)

            tr.appendChild(thimg);
            tr.appendChild(id);
            tr.appendChild(name);
            tr.appendChild(nbfan);
            tr.appendChild(thadd);
            thimg.appendChild(img);
            thadd.appendChild(add);

            tbody.appendChild(tr);
        }
        
    }


</script>
{% endblock %}
